*~
*.swp

# Archive files
*.npz
*.pkl
*.pdf


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook
.ipynb_checkpoints/
*-scratch.ipynb

# PyCharm Project Settings
.idea/

# Tests
.pytest_cache/

# Logs
logs/

data/*
