*~
*.swp

# Local configs
config_local.py

# Archive files
*.npz
*.pkl
*.pdf
*.mp4
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook
.ipynb_checkpoints/
*-scratch.ipynb

# PyCharm Project Settings
.idea/

# Tests
.pytest_cache/

# Logs
logs/
data/*
figs/*
